*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration:none;
    color: inherit;
}

body{
    height: 100vh;
    background-image: url(./img/MV5BM2IxYTU5MDUtM2E2Ny00YWJlLThiNGUtMWE3NTgzMDUxYWM0XkEyXkFqcGdeQXVyMTYwNTQ3NTg5\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top:32px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 16px;
    font-family:'Inter', sans-serif;
    font-family:'Montserrat', sans-serif;;
}

header{
    height:50px;
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 32px;
}
header a{
    font-size: 1.7rem;
}

main{
    flex-grow: 9;
    display: flex;
}

.filme-container{
    flex-grow: 9;
    display: flex;
    flex-direction: column;
}
.descricao{
    color: #fff;
    flex-grow: 67;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
}
.trailer{
    flex-grow: 19;
    height:69px;
    display: flex;
    gap: 20px;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 32px;
    font-size: 32px;
    color: #fff;
}

.social-container i:hover{
    color: #f03fd8;
}
footer{
    height: 42px;
    color: #fff;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}