*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration:none;
    color: inherit;
}

body{
    height: 100vh;
    background-image: url(./img/MV5BM2IxYTU5MDUtM2E2Ny00YWJlLThiNGUtMWE3NTgzMDUxYWM0XkEyXkFqcGdeQXVyMTYwNTQ3NTg5\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top:32px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 16px;
    font-family:'Inter', sans-serif;
    font-family:'Montserrat', sans-serif;;
}

header{
    height:50px;
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 32px;
}
header a{
    font-size: 1.7rem;
}

main{
    flex-grow: 9;
    display: flex;
}

.filme-container{
    flex-grow: 9;
    display: flex;
    flex-direction: column;
}
.descricao{
    color: #fff;
    flex-grow: 67;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
}
.trailer{
    flex-grow: 19;
    height:69px;
    display: flex;
    gap: 20px;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 32px;
    font-size: 32px;
    color: #fff;
}

.social-container i:hover{
    color: #f03fd8;
}
footer{
    height: 42px;
    color: #fff;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TABLET */
@media (max-width:768px){
    body{
        padding: 20px 3px 4px 0px;
        background-image: url(./img/nika.png);
    }
}

    .filme-container{
        align-items: center;
    }  

    .descricao{
        padding: 60px;
        justify-content: flex-start;
        flex-grow: 32px;
    }

    
    .descricao p{
        text-align: center;
    }
    .trailer{
        width: 500px;
        height:30px;
    }
    footer{
        display: none;
    }

/*MOBILE*/
@media (max-width:480px){
    body{
        background-image: url(./img/deus-do-sol.png);
    }
    header{
        justify-content: space-between;
        padding: 7px 5px 0 24px;
        height: 100px;
        align-items: center;
    }
    header a{
        background-color: transparent;

    }
    .trailer{
        height: auto;
    }
    .descricao{
        padding: 0;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
    .descricao p{
    display: none;
    }
    .trailer{
        display: none;
    }
}